header {
    display: block align-items center justify-content space-between background-color #ffffff padding 50px 35px font-size medium text-align center position relative top 0
}

img {
    margin: 5px padding 5px
}

nav ul li {
    text-align: center display inline-block margin 10px
}

a {
    text-decoration: none text-transform uppercase font-weight bold color rgb(164, 9, 84)
}