main {
    display: block
}

h1 {
    text-align: center color #500b75 text-decoration rgb(90, 12, 121) margin 20px 0px
}

h2 {
    color: #9e156a text-align center text-decoration #a550d3 margin 15px
}

p {
    color: rgb(31, 2, 56) text-align center margin 30px 0px
}

img {
    margin: 1px
}