body {
    background-color: #ee81c4;
  }
  
  main {
    display: block;
  }
  
  h1 {
    text-align: center;
    color: #500b75;
    text-decoration: rgb(90, 12, 121);
    margin: 20px 0px;
  }
  
  h2 {
    color: #9e156a;
  text-align: center; 
  text-decoration: #a550d3; 
  margin: 15px;
  }
  
  p {
    color: rgb(31, 2, 56);
    text-align: center;
    margin: 30px 0px;
  }
  
  img {
    margin: 1px;
  }
  
  header {
    display: block;
    align-items: center; 
    justify-content: space-between;
    background-color: #ffffff ;
    padding: 50px 35px ;
    font-size: medium ;
    text-align: center ;
    position: relative; 
    top: 0;
  }
  
  img {
    margin: 5px;
    padding: 5px;
  }
  
  nav ul li {
    text-align: center ;
    display: inline-block ;
    margin: 10px;
  }
  
  a {
    text-decoration: none ;
    text-transform: uppercase ;
    font-weight: bold ;
    color: rgb(164, 9, 84);
  }
  